<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookshop</title>
    
{% load static %} 
<link rel="stylesheet" type="text/css" href="{% static 'bookshop/style.css' %}">

</head>
<body>
    <div class="everything">{% block content %}{% endblock %}</div>

    <div class="my_page">
        <a href="{% url 'about_me'%}">Страничка создателя сайта</a>
    </div>
</body>
</html>