{% extends "bookshop/base.html" %}

{% block content %}


<form method="post" enctype='multipart/form-data'>{% csrf_token %}
    <div class="create_book">
        <label for="book_name">Название книги</label>
        {{ form.book_name }}
        <label for="description">Описание</label>
        {{ form.description }}
        <div class="create_form_page_price">
            <label for="pages">Количество страниц</label>
            {{ form.pages }}
            <label for="price">Цена</label>
            {{ form.price }}
        </div>
        <div class="submit_btn">
            <label for="language">Язык</label>
            {{ form.language }}
        </div>
        <div class='create_form_2'>
            <label for="author">Автор</label>
            {{ form.author }}
            <label for="genre">Жанр</label>
            {{ form.genre }}
        </div>
        <label for="photo">Фото-обложка книги: </label>
        {{ form.photo }}
    </div>
    
    <div class="btn">
        <input type="submit" value="Изменить">
        <a href="{% url 'home' %}">Вернуться к списку</a>
    </div>
</form>

{% endblock content %} 
